
@media screen and (min-width:1440px) {
   
}
@media screen and (max-width:1200px) {
    .second-section::before {
        content: "";
        height: 278px;}

.right img {
    position: absolute;
    bottom: 4.47vw;
    right: 5vw;
    height: 13vw;
}
.right .right-heading {
    font-size: 25px;
    left: 18vw;
   
}
.number1 {
    left: 4vw;
    top: 0vw;
    font-size: 59px;
}
.right .right-para {
    font-size: 18px;
    top: 0vw;
    left: 19vw;
}
img.floating {
    height: 6vw;
}

}
@media screen and (max-width:767px) {
   .second-banner {

   }
   .number1 {
    left: 4vw;
    top: 0vw;
    font-size: 59px;
}
   .custom-col-2{
    width: 100% !important;
   }
   .custom-col-1{
    width: 100% !important;
   }
   .prebook {
    position: absolute;
    width: 531px !important;
    height: 464px;
    right: 13vw;
    bottom: 5vw;
}
   section::before {
    top: 113vw;
}
.right .right-para {
    font-size: 22px;
    top: 39vw;
    width: 95%;
    left: 2vw;
}
.right .butn {
    top: 56.6vw;
    left: 38%;
}
.right .right-heading {
    left: 0;
    top: 27vw;
   width: 100%;
}
.right img {
    position: absolute;
    top: 7vw;
    right: 30vw;
}
.pm {
    padding: 12vw 0;
    margin-top: 66vw;
}
.books {
    margin-top: 83vw;}
    .row-books{
        flex-direction: column-reverse;
    }
    .book-card {
        padding: 15px 24px 15px 0;}
        .swiper {
            
                width: 73%;
                height: 78vw;
                position: relative;
           
        }
        .swiper-slide img {
            height: 100%;
            object-fit: cover !important;
        }
        .book-card {
            /* margin: 0; */
            border-radius: 0;
        }
        .pre-book {
           
            bottom: 0vw;
            font-size: 16px;
            right: 44vw;
        }
        .yellow {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }
        .section-two {
            height: 92vw;
            background-color: #FFB801;
            position: absolute;
            width: 100vw;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            top: 63vw;
        }
        .section-three {
            position: absolute;
            height: 444px;
            top: 184vw;
            z-index: -1;
            width: 100vw;
            background: #C80000;
        }
        .red-images {
            position: absolute;
            left: 24vw;
            /* height: 29vw; */
            bottom: -22vw;
        }
       
        .third-inner-card {
            width: 100vw !important;
            padding: 4vw 6vw;
            top: 22.8vw;
            height: 186px;
            border-radius: 0;
            right: 0;
        }
        .section-three .butn {
            position: absolute;
            right: 35vw;
            bottom: -53vw;
        }
        .number3 {
            position: absolute;
            color: #000;
            font-family: Bangers;
            left: 3vw;
            top: 19vw;
            z-index: 1;
            font-size: 59px;
        }
        .yellow-left {
            width: 100vw;
            margin-top: 3vw;
            height: 263px;
            border-radius: 0;
            background: #FFF;
        }
       .yellow-card .number2 {
            left: 59vw;
            top: -3vw;
            font-size: 59px;
        }
        .images-stacking {
            width: 490px;
            height: 352px;
            z-index: 1;
            display: flex;
        }
        img.deliver {
            height: 44vw;
            margin: auto;
        }
        .title {
            left: 43%;
            margin-top: 71vw;
            font-size: 29px;
        }
        .bonus {
            margin-top: 90vw;
            height: 613px;
        }
            .bonus .left-top {
                top: -11vw;
                height: 19vw;
            }
            .bonus .right-bottom {  
                right: 0;
                top: 76vw;
                height: 19vw;
            }
            .bonus .butn {
                bottom: -4vw;
                right: 32vw;
            }
            .middle-top {
                margin-top: 15vw;
            }
            .group {
                position: absolute;
                top: -15vw;
                left: 4vw;
            }
            img.learner {
                width: 65vw;
                height: 39vw;
            }
            .marquee-content {
                margin-top: 10vw;
            }
            .marchand {
                margin-top: 23vw;
            }
            .marchand-left {
               
                top: -6vw;
                left: -10vw;
                height: 12vw;
            }
}
@media screen and (max-width:540px) {
    .right .right-heading {
        top: 30vw;
    }
    .swiper-slide img {
        height: 348px;
        object-fit: cover !important;
    }
    .right .right-para {
        font-size: 20px;
        top: 43vw;
        width: 90%;
        left: 5vw;
    }
    .right .butn {
        top: 82.6vw;
        left: 26%;
    }
    .pm {
        margin-top: 102vw;
    }
    .pm-text {
            font-size: 25px;
        }
        .price {
            font-size: 16px;
        }
        .book-card {
            padding: 48px 6px 29px 0;
        border-radius: 0;
    }
    
    .book-para {
        font-size: 10px;
    }
    .title {
        margin-top: 55vw;
        font-size: 5vw;
    }
    .bonus {
        margin-top: 17vw;
        height: 137.968vw;
    }
    .bonus .left-top {
        top: -11vw;
        left: -13vw;
        height: 18vw;
    }
    .group {
      
        top: -13vw;
        left: 21vw;
        width: 60vw;
    }
    .middle-top {
        flex-direction: column-reverse;
        margin-top: 15vw;
    }    
    img.learner {
        width: 57vw;
        margin-top: 22vw;
        /* margin-right: -3vw; */
        height: 31vw;
    }
    .headphone{
        height: 63vw;
    }
    .blank-inner::after {
        content: "";
        background-image: url(../images/blank-msg.png);
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        background-size: cover;
        left: -6px;
        z-index: -1;
        top: -18px;
        right: 0;
        width: 175px;
        height: 143.776px;
    }
    .bonus .right-bottom {
        right: -5vw;
        top: 128vw;
        height: 19vw;
    }
    .marchand-left {
        top: -13vw;
        left: -19vw;
        height: 40vw;
    }
    .m-text {
       
        right: 35vw;
        top: -10vw;
        font-size: 7vw;
        
    }
}
@media screen and (max-width:380px) {
    .pm {
        margin-top: 112vw;
    }
    img.learner {
        width: 57vw;
        margin-top: 5vw;
        /* margin-right: -3vw; */
        height: 29vw;
    }
    .headphone {
        height: 54vw;
    }
    .bonus .butn {
        bottom: -6vw;
        right: 22vw;
    }
    .book-card {
        padding: 48px 6px 56px 0;
        border-radius: 0;
    }
    .swiper-slide img {
        height: 279px;
        object-fit: cover !important;
    }
}