
@media screen and (min-width: 1460px) {
    .second-section::before {
        height: 23vw;
    }
  .right .right-para {
    font-size: 27px;
    line-height: 39px;
  }
  .left {
    z-index: 1;
    /* padding-left: 7vw; */
    left: 9vw;
  }
  .right img {
    position: absolute;
    bottom: 2vw;
    right: 6vw;
    height: 12vw;
  }
  .action-btn2 span {
    padding: 1vw 6vw;
  }
  .books {
    height: 496px;
  }
  .custom-col-2 {
    flex: 0 0 auto;
    width: 55% !important;
  }
  .custom-col-2 {
    flex: 0 0 auto;
    width: 45% !important;
  }
  .pm-text {
    color: #000;
    font-family: Bangers;
    font-size: 46px;
    font-style: normal;
    margin-bottom: 2.5rem !important;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 2px;
  }
  .row-books {
    padding: 1vw 3vw;
  }
  .book-card {
    column-gap: 0px;
    height: 332px;
    margin-top: 60px;
  }
  .prebook {
    position: absolute;
    width: 620px !important;
    height: 621px;
    right: -2vw;
    padding: 0 -9vw;
    bottom: 3vw;
  }
  .book-para {
    color: #000;
    font-family: Comic Neue;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
  }
  .book-card {
    column-gap: 0px;
    height: 391px;
    left: -3vw;
    margin-top: 23px;
  }
  .pre-book {
    position: absolute;
    bottom: 1vw;
    color: #000;
    font-family: Mulish;
    font-size: 27px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    text-decoration-line: underline;
    right: 7vw;
  }
  .first {
    width: 160vw;
    position: absolute;
    margin-left: 19.8vw;
    top: 6vw;
    height: 421px;
    background: #c80000;
    box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
  }
  .yellow-card {
    width: 393px;
    height: 220px;
    position: absolute;
    flex-shrink: 0;
    padding: 2vw 1vw;
    left: 9vw;
  }
  .number2 {
    position: absolute;
    color: #000;
    font-family: Bangers;
    left: 21vw;
    top: -1vw;
    z-index: 1;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0.5px;
  }
  .first-inner-card {
    width: 468px;
    position: absolute;
    height: 282px;
    border-radius: 20px;
    background: #fff;
    padding: 3vw 2vw;
    top: 3.8vw;
    left: 3vw;
  }
  .section-two {
    height: 412px;
    background-color: #ffb801;
    position: absolute;
    width: 90vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 29vw;
  }
  .yellow-left {
    width: 620px;
    margin-top: 3vw;
    height: 303px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #fff;
  }
  svg.yellow-left-ball {
    position: absolute;
    top: -5vw;
    height: 15vw;
  }
  .yellow-right {
    gap: 5rem !important;
  }
  .third-inner-card {
    width: 612px;
    position: absolute;
    height: 247px;
    border-radius: 20px;
    background: #fff;
    padding: 3vw 2vw;
    top: 3.8vw;
    right: 1vw;
  }
  .section-three {
    position: absolute;
    height: 321px;
    top: 67vw;
    z-index: -1;
    width: 100vw;
    background: #c80000;
  }
  .red-images {
    position: absolute;
    left: 13vw;
    z-index: 99999;
    /* height: 29vw; */
    bottom: -19vw;
  }
  .number3 {
    position: absolute;
    color: #000;
    font-family: Bangers;
    right: 28vw;
    top: 1vw;
    z-index: 1;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0.5px;
  }
  .third-inner-card {
    width: 605px;
    position: absolute;
    height: 247px;
    border-radius: 20px;
    background: #fff;
    padding: 3vw 2vw;
    top: 1.8vw;
    right: -1vw;
  }
  .section-three .butn {
    position: absolute;
    right: 11vw;
    bottom: -19vw;
  }
  .title {
    /* position: absolute; */
    color: #1e1e1e;
    left: 50%;
    margin-top: 7vw;
    font-family: Bangers;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.55px;
  }
  .group {
    position: absolute;
    top: -11vw;
    left: 15vw;
  }
  .middle-top {
    margin-top: 10vw;
  }
  .faq {
    height: 332px;
    background: #C80000;
    box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
    margin-top: 20vw;
    position: relative;
    width: 100%;
}
  img.headphone {
    height: 19vw;
  }
  .bonus .butn {
    position: absolute;
    bottom: -2vw;
    right: 27vw;
    z-index: 1;
  }
  .bonus .right-bottom {
    position: absolute;
    right: 0;
    top: 28vw;
  }
  .marchand {
    /* border-radius: 20px; */
    background: #ffb801;
    box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
    width: 100%;
    height: 558px;
    position: relative;
    margin-top: 24vw;
  }
  .m-text {
    position: absolute;
    right: 6vw;
    top: -7vw;
    color: #1e1e1e;
    font-family: Bangers;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.55px;
  }

  .marchand-left {
    position: absolute;
    top: -4vw;
    left: 0;
  }
 .faq-list {
    width: 770px;
    position: absolute;
    left: 12vw;
    bottom: -24vw;
}
.result-faq {
    width: 489px;
    position: absolute;
    height: 451px;
    border-radius: 20px;
    background: #FFB801;
    box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
    right: 0vw;
    bottom: -25vw;
}
}

@media screen and (min-width: 1920px) {
  .book-card {
      column-gap: 27px !important;
      height: 391px;
      left: -3vw;
      margin-top: 23px;
  }
  .ifrme {
    position: absolute;
    left: 39vw;
    width: 30vw;
    bottom: -21.6vw;
}
  .prebook {
      position: absolute;
      width: 672px !important;
      
  }
  .first-inner-card {
      width: 580px;
      position: absolute;
      height: 261px;
      border-radius: 20px;
      background: #fff;
      padding: 3vw 2vw;
      top: 3.8vw;
      left: 3vw;
  }
  .first {
      width: 160vw;
      position: absolute;
      margin-left: 19.8vw;
      top: 1vw;
      height: 421px;
      background: #c80000;
      box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
  }
  .third-ball {
      position: absolute;
      right: -2vw;
      top: -7vw;
    }
    .section-two {
      height: 412px;
      background-color: #ffb801;
      position: absolute;
      width: 90vw;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      top: 27vw;
  }
  .faq-title {
    position: absolute;
    color: #000;
    font-family: Bangers;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top:-9vw;
    left: 13vw;
}
    .faq-right-ball {
      position: absolute;
      top: -9vw;
      right: 0;
      z-index: 0;
    }
    .faq-list {
      width: 53vw;
      position: absolute;
      left: 12vw;
      top: -3vw;
  }
  .result-faq {
      width: 550px;
      position: absolute;
      height: 451px;
      border-radius: 20px;
      background: #FFB801;
      box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
      right: 0vw;
      top: -4vw;
  } 
  .show-box {
      width: 421px;
      position: relative;
      left: -3vw;
      height: 319px;
      border-radius: 20px;
      background: #FFF;
      box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
      margin: 4vw;
    }
  .group {
      position: absolute;
      top: -8vw;
      left: 15vw;
  }
  .middle-top {
      margin-top: 7vw;
  }
  .swiper-slide img {
      display: block;
      width: 646px;
      height: 617px;
      object-fit: cover;
    }
  .section-three {
      position: absolute;
      height: 321px;
      top: 52vw;
      z-index: -1;
      width: 100vw;
      background: #c80000;
  }
}
@media screen and (min-width: 1751px ) and (max-width:1900px) {
  .first {
    width: 160vw;
    position: absolute;
    margin-left: 19.8vw;
    top: 4vw;
    height: 421px;
    background: #c80000;
    box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
}
.ifrme {
  position: absolute;
  left: 39vw;
  width: 30vw;
  bottom: -24vw;
}
.section-two {
  height: 412px;
  background-color: #ffb801;
  position: absolute;
  width: 90vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 30vw;
}
.section-three {
  position: absolute;
  height: 321px;
  top: 55vw;
  z-index: -1;
  width: 100vw;
  background: #c80000;
}
}
@media screen and (min-width: 1451px ) and (max-width:1750px) {
  .section-two {
    height: 376px;
    background-color: #ffb801;
    position: absolute;
    width: 90vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 34vw;
}
.red-images {
  position: absolute;
  left: 13vw;
  z-index: 99999;
  /* height: 29vw; */
  bottom: -22vw;
}
.section-three {
  position: absolute;
  height: 321px;
  top: 64vw;
  z-index: -1;
  width: 100vw;
  background: #c80000;
}
.yellow-left {
  width: 620px;
  margin-top: 3vw;
  height: 265px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #fff;
}
}
@media screen and (min-width: 1341px ) and (max-width:1450px) {
  .left-about {
    width: 643px;
    height: 518px;
    margin-top: 6vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #FFF;
}
.about-text p {
  color: #000;
  font-family: Comic Neue;
  font-size: 18px;
  margin-top: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.second-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 345px;
  left: 0;
  bottom: 0;
  background-color: #c80000;
  display: block;
}
.faq-list {
  width: 644px;
  position: absolute;
  left: 10vw;
  top: 0vw;
}
.result-faq {
  width: 441px;
  position: absolute;
  height: 429px;
  border-radius: 20px;
  background: #FFB801;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
  right: 0vw;
  top: -3vw;
}
.faq-right-ball {
  position: absolute;
  top: -8vw;
  right: 0;
  height: 16vw;
  z-index: 0;
}
.about-author .about-bottom {
  position: absolute;
  bottom: -6vw;
  left: -5vw;
  height: 15vw;
}
.title {
  /* position: absolute; */
  color: #1E1E1E;
  left: 50%;
  margin-top: 10vw;
  font-family: Bangers;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  letter-spacing: -0.55px;
}
.group {
  position: absolute;
  top: -12vw;
  left: 11vw;
}
}

@media screen and (max-width: 1340px) {
  .section-three {
      position: absolute;
      height: 321px;
      top: 71vw;
      z-index: -1;
      width: 100vw;
      background: #C80000;
    }
    .ifrme {
      position: absolute;
      left: 39vw;
      width: 31vw;
      bottom: -29vw;
  }
    .title{
      /* position: absolute; */
      color: #1E1E1E;
      left: 50%;
      margin-top: 11vw;
      font-family: Bangers;
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: -14%;
      letter-spacing: -0.55px;
    }
    .group {
      position: absolute;
      top: -13vw;
      left: 18vw;
  }
  .left-about {
    width: 665px;
    height: 518px;
    margin-top: 6vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #FFF;
}
  .bonus .butn{
      position: absolute;
      bottom: -2vw;
      right: 18vw;
      z-index: 1;
    }
    .swiper-slide img {
      display: block;
      width: 546px;
      height: 542px;
      object-fit: cover;
    }
.faq-list {
  width: 766px;
  position: absolute;
  left: 13vw;
  bottom: -25vw;
}
.section-two{
  top: 35vw;
}
.result-faq {
  width: 489px;
  position: absolute;
  height: 451px;
  border-radius: 20px;
  background: #FFB801;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
  right: 0vw;
  bottom: -28vw;
}
.about-flex {
  justify-content: space-around !important;
}
.left-about {
  width: 639px;
  height: 518px;
  margin-top: 6vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #FFF;
}

.right img {
  position: absolute;
  bottom: 4.47vw;
  right: 5vw;
  height: 13vw;
}
.right .right-heading {
  font-size: 25px;
  left: 18vw;
}
.number1 {
  left: 4vw;
  top: 2vw;
  font-size: 59px;
}
.right .right-para {
  font-size: 18px;
  top: 0vw;
  left: 19vw;
}
img.floating {
  height: 6vw;
}
.books {
  margin-top: 20vw;
  height: 483px;
  width: 100%;
  position: relative;
  /* border-radius: 20px; */
  background: #c80000;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
}
.pre-book {
position: absolute;
bottom: -1vw;
color: #000;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: 28px;
text-decoration-line: underline;
right: 22vw;
}
}
@media screen and (min-width: 1200px ) and (max-width:1339px) {
  .left-about {
    width: 570px;
    height: 505px;
    margin-top: 6vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #FFF;
}
.first-inner-card {
  width: 389px;
  position: absolute;
  height: 259px;
  border-radius: 20px;
  background: #FFF;
  padding: 3vw 2vw;
  top: 3.8vw;
  left: 3vw;
}
.swiper-slide img {
  display: block;
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.faq-list {
  width: 658px;
  position: absolute;
  left: 3vw;
  top: 1vw;
}
.result-faq {
  width: 489px;
  position: absolute;
  height: 451px;
  border-radius: 20px;
  background: #FFB801;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
  right: 0vw;
  top: -6vw;
}
.show-box {
  width: 341px;
  position: relative;
  height: 319px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
  margin: 5vw;
}
.faq-right-ball {
  position: absolute;
  top: -10vw;
  right: 0;
  z-index: 0;
}
.about-author .about-bottom {
  position: absolute;
  bottom: -8vw;
  left: -5vw;
  height: 19vw;
}
.section-three {
  position: absolute;
  height: 321px;
  top: 75vw;
  z-index: -1;
  width: 100vw;
  background: #C80000;
}
.red-images {
  position: absolute;
  left: 16vw;
  /* width: 12vw; */
  /* height: 29vw; */
  top: -1vw;
}
.third-ball {
  position: absolute;
  right: -4vw;
  top: -7vw;
  height: 9vw;
}
.third-inner-card p {
  color: #000;
  font-family: Comic Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.number3 {
  position: absolute;
  color: #000;
  font-family: Bangers;
  right: 30vw;
  top: 2vw;
  z-index: 1;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0.5px;
}
.third-inner-card {
  width: 396px;
  position: absolute;
  height: 231px;
  border-radius: 20px;
  background: #FFF;
  padding: 3vw 2vw;
  top: 3.8vw;
  right: 1vw;
}
.section-three .butn {
  position: absolute;
  right: 14vw;
  bottom: -30vw;
}
.section-two {
  top: 42vw;
}
svg.yellow-left-ball {
  position: absolute;
  top: -2vw;
  height: 9vw;
}
.yellow-left {
  width: 497px;
  margin-top: 3vw;
  height: 263px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #FFF;
}
.yellow-card {
  width: 284px;
  height: 220px;
  position: absolute;
  flex-shrink: 0;
  padding: 2vw 1vw;
  left: 5vw;
  /* top: 2vw; */
}
.number2 {
  position: absolute;
  color: #000;
  font-family: Bangers;
  left: 32vw;
  top: -3vw;
  z-index: 1;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0.5px;
}
.second-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 313px;
  left: 0;
  bottom: 0;
  background-color: #c80000;
  display: block;
}
}
@media screen and (max-width: 1199px) {
  .faq-list {
    width: 524px;
    position: absolute;
    left: 9vw;
    top: 1vw;
}
.section-two {
  top: 41vw;
}
.red-images {
  position: absolute;
  left: 16vw;
  /* height: 29vw; */
  bottom: -31vw;
}
.yellow-left {
  width: 461px;
  margin-top: 3vw;
  height: 263px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #FFF;
}
.yellow-card {
  width: 276px;
  height: 220px;
  position: absolute;
  flex-shrink: 0;
  padding: 2vw 1vw;
  left: 11vw;
  /* top: 2vw; */
}
.first-inner-card {
  width: 364px;
  position: absolute;
  height: 266px;
  border-radius: 20px;
  background: #FFF;
  padding: 3vw 2vw;
  top: 3.8vw;
  left: 3vw;
}
.ifrme {
  position: absolute;
  left: 39vw;
  width: 31vw;
  bottom: -32vw;
}
.about-text {
  padding: 0vw 2vw;
}
.about-author .about-bottom {
  position: absolute;
  bottom: -2vw;
  left: -4vw;
  height: 16vw;
}
.about-author .about-top {
  position: absolute;
  top: -12vw;
  right: -5vw;
  height: 19vw;
  z-index: -1;
}
      .books-ball {
        position: absolute;
        right: -4vw;
        bottom: -7vw;
        height: 19vw;
    }
      .result-faq {
        width: 489px;
        position: absolute;
        height: 451px;
        border-radius: 20px;
        background: #FFB801;
        box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
        right: 0vw;
        bottom: -34vw;
      }
      .left-about {
        width: 500px;
        height: 518px;
        margin-top: 6vw;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: #fff;
      }
      .section-three {
        position: absolute;
        height: 367px;
        top: 80vw;
        z-index: -1;
        width: 100vw;
        background: #C80000;
    }
      .images-stacking img:nth-child(1){position: absolute;left: 22vw;}
.images-stacking img:nth-child(2){position: absolute;left: 18vw;}
.images-stacking img:nth-child(3){position: absolute;left: 14vw;}
.images-stacking img:nth-child(4){position: absolute;left: 10vw;}
.images-stacking img:nth-child(5){position: absolute;left: 10vw;}
.number3 {
    position: absolute;
    color: #000;
    font-family: Bangers;
    right: 29vw;
    top: 2vw;
    z-index: 1;
    font-size: 51px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0.5px;
  }
  .third-inner-card {
    width: 390px;
    position: absolute;
    height: 234px;
    border-radius: 20px;
    background: #FFF;
    padding: 2vw 2vw;
    top: 3.8vw;
    right: 1vw;
  }
  .section-three .butn {
    position: absolute;
    right: 14vw;
    bottom: -32vw;
  }
  .yellow-card p{
    width: 300px;
  }
  .yellow-card h3{
    width: 300px;
  }
  .number2 {
   
    left: 24vw;
    top: -2vw;
    font-size: 70px;
    line-height: 44px;
  }
  .number1 {
    left: 4vw;
    top: 2vw;
    font-size: 59px;
  }
  .title{
    /* position: absolute; */
    color: #1E1E1E;
    left: 50%;
    margin-top: 17vw;
    font-family: Bangers;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 19%;
    letter-spacing: -0.55px;
  }
  .group {
    position: absolute;
    top: -12vw;
    left: 7vw;
  }
  .bonus .right-bottom{
    position: absolute;
    right: 0;
    top: 44vw;
  }
  .bonus .butn{
    position: absolute;
    bottom: -2vw;
    right: 11vw;
    z-index: 1;
  }
  .second-section::before {
    height: 300px;
  }
}
@media screen and (max-width: 991px) {
  .yellow-left {
    width: 413px;
    margin-top: 3vw;
    height: 263px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #FFF;
}
.section-two {
  height: 362px;
  background-color: #FFB801;
  position: absolute;
  width: 100vw;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  top: 47vw;
}
.second-section::before {
    height: 260px;
}
.right img {
    position: absolute;
    bottom: 4.47vw;
    right: 5vw;
    height: 12vw;
  }
  .right .right-heading {
    font-size: 21px;
    left: 13vw;
  }
  .right .right-para {
    font-size: 16px;
    line-height: 22px;
    top: 0vw;
    left: 12vw;
  }
  .right .butn {
    position: absolute;
    top: 17.6vw;
    left: 33%;
  }
  .full img:nth-child(2) {
    position: absolute;
    bottom: 5vw;
    height: 10vw;
    left: 41vw;
  }
  .prebook {
    position: absolute;
    width: 352px !important;
    height: 357px;
    right: 5vw;
    bottom: 4vw;
}
  .pre-book {
    bottom: 0vw;
    right: 17vw;
  }
  .custom-col-2 {
    flex: 0 0 auto;
    width: 45% !important;
}
  .custom-col-1 {
    flex: 0 0 auto;
    width: 55% !important;
}

  .yellow-card {
    width: 393px;
    height: 220px;
    position: absolute;
    flex-shrink: 0;
    padding: 2vw 1vw;
    left: 4vw;
    /* top: 2vw; */
  }
  .number2 {
   
    left: 32vw;
       
    top: -2vw;
       
    font-size: 70px;
       
    line-height: 19px;
      }
      .section-three {
        position: absolute;
        height: 504px;
        top: 108vw;
        z-index: 1;
        width: 100vw;
        background: #C80000;
    }
      .red-images {
        position: absolute;
        left: 23vw;
        /* height: 29vw; */
        bottom: -17vw;
      }
      
      .third-inner-card {
        width: 93%;
        position: absolute;
        z-index: 211;
        height: 234px;
        border-radius: 20px;
        background: #FFF;
        padding: 2vw 6vw;
        top: 17.8vw;
        right: 3vw;
    }
    .number3 {
      position: absolute;
      color: #000;
      font-family: Bangers;
      right: 8vw;
      top: 12vw;
      z-index: 1;
      font-size: 78px;
      font-style: normal;
      font-weight: 400;
      line-height: 51px;
      letter-spacing: 0.5px;
  }
    .third-inner-card h3 {
      color: #000;
      font-family: Bangers;
      font-size: 34px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
    .third-inner-card p {
      color: #000;
      font-family: Comic Neue;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }
      .section-three .butn {
        position: absolute;
        right: 33vw;
        bottom: -54vw;
      }
      .title {
        /* position: absolute; */
        color: #1E1E1E;
        left: 50%;
        margin-top: 34vw;
        font-family: Bangers;
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: 19%;
        letter-spacing: -0.55px;
    }
    .group {
      position: absolute;
      top: -12vw;
      height: 20vw;
      left: 6vw;
  }
  .about-text p {
    color: #000;
    font-family: Comic Neue;
    font-size: 18px;
    margin-top: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
      .about-flex {
        justify-content: space-around !important;
        flex-direction: column-reverse;
      }
      .left-about {
        width: 100%;
        height: 385px;
        margin-top: 6vw;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: #fff;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .about-author{
        position: relative;
        background-color: #C80000;
        height: 107vw;
        margin-top:20vw;
        box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
      }
      h3.author {
        top: -8vw;
      }
      .result-faq {
        width: 451px;
        position: absolute;
        height: 382px;
        border-radius: 20px;
        background: #FFB801;
        box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
        right: 0vw;
        bottom: -37vw;
    }
      .faq-list {
        width: 405px;
        position: absolute;
        left: 2vw;
        bottom: -38vw;
      }
      .faq-right-ball {
        position: absolute;
        top: -6vw;
        right: 0;
        z-index: 0;
        height: 18vw;
      }
      .about-author .about-top{
        position: absolute;
        top: -9vw;
        right: -8vw;
        z-index: -1;
        height: 16vw;
      }
      .about-author .about-bottom{
        position: absolute;
        bottom: -5vw;
        left: -7vw;
        height: 18vw;
      }
      .marchand-left{
        position: absolute;
        top: -7vw;
        left: -5vw;
        height: 17vw;
      }
}
@media screen and (max-width: 767px) {
  .empty {
    padding: 2vw;
    margin-top: 44vw;
  }
    .yellow-card p{
        width: 84vw;
        margin-top: 8vw;
        text-align: center;
      }
      .book-title {
        position: absolute;
        color: #000;
        font-family: Bangers;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 51px;
        letter-spacing: 0.5px;
        top: -77vw;
        left: 32vw;
    }
  .number1 {
    left: 4vw;
    top: 0vw;
    font-size: 59px;
  }
  .custom-col-2 {
    width: 100% !important;
  }
  .custom-col-1 {
    width: 100% !important;
  }
  .first-inner-card {
    width: 496px;
    position: absolute;
    height: 191px;
    border-radius: 20px;
    background: #FFF;
    padding: 3vw 2vw;
    top: 3.8vw;
    left: 3vw;
}

.ifrme {
  position: absolute;
  left: 0vw;
  width: 72vw;
  bottom: -84vw;
}
  .prebook {
    position: absolute;
    width: 531px !important;
    height: 464px;
    right: 13vw;
    bottom: 5vw;
  }
  section::before {
    top: 113vw;
  }
  .right .right-para {
    font-size: 22px;
    top: 39vw;
    width: 95%;
    left: 2vw;
  }
  .right .butn {
    top: 56.6vw;
    left: 38%;
  }
  .right .right-heading {
    left: 0;
    top: 27vw;
    width: 100%;
  }
  .right img {
    position: absolute;
    top: 7vw;
    right: 30vw;
  }
  .pm {
    padding: 12vw 0;
    margin-top: 66vw;
  }
  .books {
    margin-top: 88vw;
  }
  .books-ball {
    position: absolute;
    right: -4vw;
    z-index: 1;
    bottom: -7vw;
    height: 19vw;
}
  .row-books {
    flex-direction: column-reverse;
  }
  .book-card {
    padding: 15px 24px 15px 0;
  }
  .swiper {
    width: 73%;
    height: 78vw;
    position: relative;
  }
  .swiper-slide img {
    height: 100%;
    object-fit: cover !important;
  }
  .book-card {
    /* margin: 0; */
    border-radius: 0;
  }
  .pre-book {
    bottom: 0vw;
    font-size: 16px;
    right: 44vw;
  }
  .yellow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .section-two {
    height: 92vw;
    background-color: #ffb801;
    position: absolute;
    width: 100vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 89vw;
  }
  .section-three {
    position: absolute;
    height: 444px;
    top: 210vw;
    z-index: -1;
    width: 100vw;
    background: #c80000;
  }
  .red-images {
    position: absolute;
    left: 24vw;
    /* height: 29vw; */
    bottom: -22vw;
  }

  .third-inner-card {
      width: 100vw !important;
      padding: 4vw 6vw;
      top: 22.8vw;
      height: 246px;
      border-radius: 0;
      right: 0;
  }
  .section-three .butn {
    position: absolute;
    right: 35vw;
    bottom: -62vw;
}
  .number3 {
    position: absolute;
    color: #000;
    font-family: Bangers;
    left: 3vw;
    top: 19vw;
    z-index: 1;
    font-size: 59px;
  }
  .yellow-left {
    width: 100vw;
    margin-top: 3vw;
    height: 263px;
    border-radius: 0;
    background: #fff;
  }
  .yellow-card .number2 {
    left: 85vw;
    top: -2vw;
    font-size: 71px;
  }
  .images-stacking {
    width: 490px;
    height: 352px;
    z-index: 1;
    display: flex;
  }
  img.deliver {
    height: 44vw;
    margin: auto;
  }
  .title {
    left: 43%;
    margin-top: 108vw;
    font-size: 29px;
}
  .bonus {
    margin-top: 18vw;
    height: 613px;
  }
  .bonus .left-top {
    top: -8vw;
    left: -4vw;
    height: 14vw;
}
.faq{
    height: 352px;
    background: #C80000;
    box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
    margin-top: 46vw;
    position: relative;
    width: 100%;
  }
  .main-faq {
    position: static !important;
    flex-direction: column;
  }
  .result-faq {
    width: 100%;
    position: absolute;
    height: 382px;
    border-radius: 20px;
    background: #FFB801;
    box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
    /* right: 21vw; */
    bottom: -44vw;
  }
  .show-box {
    width: 91%;
    position: relative;
    padding: 1vw 1vw;
    height: 319px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
    margin: 4vw;
  }
  .show-box p{
    color: #000;
    text-align: center;
    font-family: Comic Neue;
    font-size: 21px;
    padding: 2vw 7vw;
    position: absolute;
    top: 20%;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 155.556% */
  }
  .faq-list {
    width: 79%;
    position: absolute;
    left: 10vw;
    bottom: -38vw;
  }
  .tab-label {
    padding: 1vw 6vw;
    margin-top: 1vw;
  }
  .list-group-item .active .tab-label {
    padding: 1vw 6vw;
    margin-top: 1vw;
  }
  .bonus .right-bottom {
    right: -2vw;
    top: 76vw;
    height: 14vw;
}
.about-author .about-bottom{
    position: absolute;
    bottom: -39vw;
    left: -11vw;
    height: 18vw;
  }
  .bonus .butn {
    bottom: -4vw;
    right: 32vw;
  }
  .middle-top {
    margin-top: 15vw;
  }
  .group {
    position: absolute;
    top: -15vw;
    left: 4vw;
  }
  img.learner {
    width: 65vw;
    height: 39vw;
  }
  .marquee-content {
    margin-top: 10vw;
  }
  .marchand {
    margin-top: 23vw;
  }
  .marchand-left {
    top: -6vw;
    left: -10vw;
    height: 12vw;
  }
}
@media screen and (min-width: 650px)and (max-width:720px) {
  .main-section {
    background-image: none;
    margin-top: 7vw;
}
.first {
  width: 100vw;
  position: absolute;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  top: 6vw;
  height: 347px;
  background: #C80000;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
}
.first-inner-card{
  width: 90%;
  position: absolute;
  height: 174px;
  border-radius: 20px;
  background: #FFF;
  padding: 3vw 2vw;
  top: 3.8vw;
  left: 5vw;
}
.ifrme {
  position: absolute;
  left: 0vw;
  width: 100vw;
  bottom: -87vw;
}
.section-two {
  height: 92vw;
  background-color: #ffb801;
  position: absolute;
  width: 100vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 94vw;
}
.section-three {
  position: absolute;
  height: 444px;
  top: 215vw;
  z-index: -1;
  width: 100vw;
  background: #c80000;
}
.third-inner-card {
  width: 100vw !important;
  padding: 4vw 6vw;
  top: 22.8vw;
  height: 262px;
  border-radius: 0;
  right: 0;
}
.section-three .butn {
  position: absolute;
  right: 35vw;
  bottom: -68vw;
}
.empty {
  padding: 2vw;
  margin-top: 44vw;
}
.red-images {
  position: absolute;
  left: 16vw;
  /* height: 29vw; */
  bottom: -22vw;
}
}
@media screen and (min-width: 550px) and (max-width:640px) {
  .main-section {
    background-image: none;
    margin-top: 7vw;
}
.first {
  width: 100vw;
  position: absolute;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  top: 6vw;
  height: 347px;
  background: #C80000;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
}
.first-inner-card{
  width: 90%;
  position: absolute;
  height: 174px;
  border-radius: 20px;
  background: #FFF;
  padding: 3vw 2vw;
  top: 3.8vw;
  left: 5vw;
}
.ifrme {
  position: absolute;
  left: 0vw;
  width: 100vw;
  bottom: -102vw;
}
.section-two {
  height: 92vw;
  background-color: #ffb801;
  position: absolute;
  width: 100vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 107vw;
}
.section-three {
  position: absolute;
  height: 444px;
  top: 247vw;
  z-index: -1;
  width: 100vw;
  background: #c80000;
}
.third-inner-card {
  width: 100vw !important;
  padding: 4vw 6vw;
  top: 22.8vw;
  height: 281px;
  border-radius: 0;
  right: 0;
}

.group {
  position: absolute;
  top: -15vw;
  left: 13vw;
}
.section-three .butn {
  position: absolute;
  right: 35vw;
  bottom: -68vw;
}
.empty {
  padding: 2vw;
  margin-top: 44vw;
}
.red-images {
  position: absolute;
  left: 16vw;
  /* height: 29vw; */
  bottom: -22vw;
}
}
@media screen and (max-width: 540px) {
  .right .right-heading {
    top: 30vw;
  }

  .book-card {
    padding: 26px 6px 20px 0;
    border-radius: 0;
    display: inline-block !important;
    column-gap: 0vw;
    height: 371px;
    margin-top: 61px;
  }
  .book-card figure svg {
    width: 202.893px;
    margin-left: 20vw;
    height: 83.893px;
    flex-shrink: 0;
  }
  .book-card-text {
    margin-left: 12vw;
  }
  .pm-text {
    font-size: 25px;
    margin-top: 1vw;
    margin-left: 26vw;
}
  
  .price {
    font-size: 16px;
    font-size: 22px;
    margin-top: -3vw;
    margin-left: 27vw;
}
.books .butn {
  position: absolute;
  bottom: -7vw;
  left: 34vw;
}
.book-card figure svg {
  width: 202.893px;
  margin-left: 29vw;
  height: 79.893px;
  flex-shrink: 0;
}
 
  .books-ball {
    position: absolute;
    right: -14vw;
    z-index: 1;
    bottom: 0vw;
    height: 19vw;
}
.books .butn {
  position: absolute;
  bottom: -7vw;
  left: 34vw;
}
  .swiper-slide img {
    height: 348px;
    object-fit: cover !important;
  }
  .right .right-para {
    font-size: 20px;
    top: 43vw;
    width: 90%;
    left: 5vw;
  }
  .right .butn {
    top: 73.6vw;
    left: 32%;
  }
  .pm {
    margin-top: 102vw;
  }
  .pm-text {
    font-size: 25px;
  }
  .price {
    font-size: 16px;
  }
  .book-card {
    padding: 48px 6px 29px 0;
    border-radius: 0;
  }

  .book-para {
    font-size: 10px;
  }
  .title {
    margin-top: 8vw;
    font-size: 5vw;
  }
  .bonus {
    margin-top: 17vw;
    height: 137.968vw;
  }
  .bonus .left-top {
    top: -11vw;
    left: -7vw;
    height: 18vw;
  }
  .group {
    top: -13vw;
    left: 21vw;
    width: 60vw;
  }
  .books {
    margin-top: 108vw;
}
.pm-divider {
    height: 70px;
}
.pm-divider img{
    height: 19vw;
}
.right img {
    position: absolute;
    top: 10vw;
    right: 21vw;
    height: 20vw;
  }
  .middle-top {
    flex-direction: column-reverse;
    margin-top: 15vw;
  }
  img.learner {
    width: 57vw;
    margin-top: 22vw;
    /* margin-right: -3vw; */
    height: 31vw;
  }
  .headphone {
    height: 63vw;
  }
  .blank-inner::after {
    content: "";
    background-image: url(../images/blank-msg.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    background-size: cover;
    left: -6px;
    z-index: -1;
    top: -18px;
    right: 0;
    width: 175px;
    height: 143.776px;
  }
  .bonus .right-bottom {
    right: -5vw;
    top: 128vw;
    height: 19vw;
  }
  .marchand-left {
    top: -13vw;
    left: -19vw;
    height: 40vw;
  }
  .m-text {
    right: 35vw;
    top: -10vw;
    font-size: 7vw;
  }
  .faq{
    height: 500px;
    background: #C80000;
    box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
    margin-top: 98vw;
    position: relative;
    width: 100%;
  }
  .faq-list {
    width: 79%;
    position: absolute;
    left: 10vw;
    bottom: -68vw;
  }
  .faq-title {
    position: absolute;
    color: #000;
    font-family: Bangers;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: -13vw;
    left: 38vw;
  }
  .about-author .about-bottom{
    position: absolute;
    bottom: -88vw;
    left: -19vw;
    height: 18vw;
  }
  h3.author {
    top: -12vw;
    left: 32vw;
    font-size: 5vw;
  }
  .about-author .about-top{
    position: absolute;
    top: -9vw;
    right: -19vw;
    z-index: -1;
    height: 16vw;
  }
  .marchand-left {
    top: -4vw;
    left: -14vw;
    height: 19vw;
  }
  .yellow-right {
    flex-direction: column-reverse;
  }
  img.deliver {
    height: 91vw;
    margin: auto;
}
.yellow-card p {
    width: 89vw;
    margin-top: 8vw;
    text-align: center;
}
.main-section {
  background-image: none;
  margin-top: 7vw;
}
.first {
  width: 100vw;
  position: absolute;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  top: 6vw;
  height: 347px;
  background: #C80000;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
}
.first-inner-card{
  width: 90%;
  position: absolute;
  height: 174px;
  border-radius: 20px;
  background: #FFF;
  padding: 3vw 2vw;
  top: 3.8vw;
  left: 5vw;
}
.ifrme {
  position: absolute;
  left: 0vw;
  width: 100vw;
  bottom: -128vw;
}
.section-two {
  height: 92vw;
  background-color: #ffb801;
  position: absolute;
  width: 100vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 136vw;
}
.section-three {
  position: absolute;
  height: 444px;
  top: 247vw;
  z-index: -1;
  width: 100vw;
  background: #c80000;
}
.third-inner-card {
  width: 100vw !important;
  padding: 4vw 6vw;
  top: 22.8vw;
  height: 281px;
  border-radius: 0;
  right: 0;
}
.prebook {
    position: absolute;
    width: 86% !important;
    height: auto;
    right: 2vw;
    bottom: 4vw;
  }
  .section-three {
    position: absolute;
    height: 444px;
    top: 415vw;
    z-index: -1;
    width: 100vw;
    background: #c80000;
}
  .number1 {
    left: 4vw;
    top: -6vw;
    font-size: 59px;
  }
  .red-images {
    position: absolute;
    left: 7vw;
    /* height: 29vw; */
    bottom: -19vw;
  }
  .section-three .butn {
    position: absolute;
    right: 35vw;
    bottom: -104vw;
}
  .title {
    margin-top: 275vw;
    font-size: 5vw;
}
.third-inner-card {
  width: 100vw !important;
  padding: 4vw 6vw;
  top: 30.8vw;
  height: 299px;
  border-radius: 0;
  right: 0;
}
  .third-ball {
    position: absolute;
    right: -9vw;
    top: 20vw;
    height: 15vw;
}
  .number3 {
    position: absolute;
    color: #000;
    font-family: Bangers;
    left: 3vw;
    top: 25vw;
    z-index: 1;
    font-size: 59px;
  }
  .first-inner-card {
    width: 93%;
    position: absolute;
    height: 234px;
    border-radius: 0;
    background: #FFF;
    padding: 3vw 7vw;
    top: 3.8vw;
    left: 5vw;
}
  .first-inner-card p {
    color: #000;
    margin-top: 6vw;
    width: 93%;
    font-family: Comic Neue;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.floating{
  height: 8vw;
}
}
@media screen and (min-width: 400px) and (max-width:500px){
  .right .right-heading {
    top: 30vw;
  }

  .book-card {
    padding: 26px 6px 20px 0;
    border-radius: 0;
    display: inline-block !important;
    column-gap: 0vw;
    height: 371px;
    margin-top: 61px;
  }
  .book-card figure svg {
    width: 202.893px;
    margin-left: 20vw;
    height: 83.893px;
    flex-shrink: 0;
  }
  .book-card-text {
    margin-left: 12vw;
  }
  .pm-text {
    font-size: 25px;
    margin-top: 1vw;
    margin-left: 26vw;
}
  
  .price {
    font-size: 16px;
    font-size: 22px;
    margin-top: -3vw;
    margin-left: 27vw;
}
.books .butn {
  position: absolute;
  bottom: -7vw;
  left: 34vw;
}
.book-card figure svg {
  width: 202.893px;
  margin-left: 29vw;
  height: 79.893px;
  flex-shrink: 0;
}
 
  .books-ball {
    position: absolute;
    right: -14vw;
    z-index: 1;
    bottom: 0vw;
    height: 19vw;
}
.books .butn {
  position: absolute;
  bottom: -7vw;
  left: 34vw;
}
  .swiper-slide img {
    height: 348px;
    object-fit: cover !important;
  }
  .right .right-para {
    font-size: 20px;
    top: 43vw;
    width: 90%;
    left: 5vw;
  }
  .right .butn {
    top: 73.6vw;
    left: 32%;
  }
  .pm {
    margin-top: 102vw;
  }
  .pm-text {
    font-size: 25px;
  }
  .price {
    font-size: 16px;
  }
  .book-card {
    padding: 48px 6px 29px 0;
    border-radius: 0;
  }

  .book-para {
    font-size: 10px;
  }
  .title {
    margin-top: 8vw;
    font-size: 5vw;
  }
  .bonus {
    margin-top: 17vw;
    height: 137.968vw;
  }
  .bonus .left-top {
    top: -11vw;
    left: -7vw;
    height: 18vw;
  }
  .group {
    top: -13vw;
    left: 21vw;
    width: 60vw;
  }
  .books {
    margin-top: 108vw;
}
.pm-divider {
    height: 70px;
}
.pm-divider img{
    height: 19vw;
}
.right img {
    position: absolute;
    top: 10vw;
    right: 21vw;
    height: 20vw;
  }
  .middle-top {
    flex-direction: column-reverse;
    margin-top: 15vw;
  }
  img.learner {
    width: 57vw;
    margin-top: 22vw;
    /* margin-right: -3vw; */
    height: 31vw;
  }
  .headphone {
    height: 63vw;
  }
  .blank-inner::after {
    content: "";
    background-image: url(../images/blank-msg.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    background-size: cover;
    left: -6px;
    z-index: -1;
    top: -18px;
    right: 0;
    width: 175px;
    height: 143.776px;
  }
  .bonus .right-bottom {
    right: -5vw;
    top: 128vw;
    height: 19vw;
  }
  .marchand-left {
    top: -13vw;
    left: -19vw;
    height: 40vw;
  }
  .m-text {
    right: 35vw;
    top: -10vw;
    font-size: 7vw;
  }
  .faq{
    height: 500px;
    background: #C80000;
    box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
    margin-top: 98vw;
    position: relative;
    width: 100%;
  }
  .faq-list {
    width: 79%;
    position: absolute;
    left: 10vw;
    bottom: -68vw;
  }
  .faq-title {
    position: absolute;
    color: #000;
    font-family: Bangers;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: -13vw;
    left: 38vw;
  }
  .about-author .about-bottom{
    position: absolute;
    bottom: -88vw;
    left: -19vw;
    height: 18vw;
    display: none;
  }
  h3.author {
    top: -12vw;
    left: 32vw;
    font-size: 5vw;
  }
  .about-author .about-top{
    position: absolute;
    top: -9vw;
    right: -19vw;
    z-index: -1;
    display: none;
    height: 16vw;
  }
  .marchand-left {
    top: -4vw;
    left: -14vw;
    height: 19vw;
  }
  .yellow-right {
    flex-direction: column-reverse;
  }
  img.deliver {
    height: 91vw;
    margin: auto;
}
.yellow-card p {
    width: 89vw;
    margin-top: 8vw;
    text-align: center;
}
.main-section {
  background-image: none;
  margin-top: 7vw;
}
.first {
  width: 100vw;
  position: absolute;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  top: 6vw;
  height: 347px;
  background: #C80000;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
}
.first-inner-card{
  width: 90%;
  position: absolute;
  height: 174px;
  border-radius: 20px;
  background: #FFF;
  padding: 3vw 2vw;
  top: 3.8vw;
  left: 5vw;
}
.ifrme {
  position: absolute;
  left: 0vw;
  width: 100vw;
  bottom: -163vw;
}
.section-two {
  height: 92vw;
  background-color: #ffb801;
  position: absolute;
  width: 100vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 174vw;
}
.section-three {
  position: absolute;
  height: 444px;
  top: 247vw;
  z-index: -1;
  width: 100vw;
  background: #c80000;
}
.third-inner-card {
  width: 100vw !important;
  padding: 4vw 6vw;
  top: 22.8vw;
  height: 281px;
  border-radius: 0;
  right: 0;
}
.prebook {
    position: absolute;
    width: 86% !important;
    height: auto;
    right: 2vw;
    bottom: 4vw;
  }
  .section-three {
    position: absolute;
    height: 444px;
    top: 484vw;
    z-index: -1;
    width: 100vw;
    background: #c80000;
}
  .number1 {
    left: 4vw;
    top: -6vw;
    font-size: 59px;
  }
  .red-images {
    position: absolute;
    left: 7vw;
    /* height: 29vw; */
    bottom: -19vw;
  }
  .section-three .butn {
    position: absolute;
    right: 35vw;
    bottom: -104vw;
}
.title {
  margin-top: 285vw;
  font-size: 5vw;
}
.show-box p {
  color: #000;
  text-align: center;
  font-family: Comic Neue;
  font-size: 18px;
  padding: 2vw 7vw;
  position: absolute;
  top: 9%;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.third-inner-card {
  width: 100vw !important;
  padding: 4vw 6vw;
  top: 30.8vw;
  height: 235px;
  border-radius: 0;
  right: 0;
}
.result-faq {
  width: 100%;
  position: absolute;
  height: 382px;
  border-radius: 20px;
  background: #FFB801;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
  /* right: 21vw; */
  bottom: -48vw;
}
  .third-ball {
    position: absolute;
    right: -9vw;
    top: 20vw;
    height: 15vw;
}
.third-inner-card p {
  color: #000;
  font-family: Comic Neue;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
  .number3 {
    position: absolute;
    color: #000;
    font-family: Bangers;
    left: 3vw;
    top: 25vw;
    z-index: 1;
    font-size: 59px;
  }
  .first-inner-card {
    width: 93%;
    position: absolute;
    height: 234px;
    border-radius: 0;
    background: #FFF;
    padding: 3vw 7vw;
    top: 3.8vw;
    left: 5vw;
}
  .first-inner-card p {
    color: #000;
    margin-top: 6vw;
    width: 93%;
    font-family: Comic Neue;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.floating{
  height: 8vw;
}
}
@media screen and (max-width: 380px) {
  .pm {
    margin-top: 112vw;
  }
  .right .butn {
    top: 89.6vw;
    left: 26%;
  }
  .pm-divider {
    height: 46px;
}
.books-ball {
    position: absolute;
    right: -14vw;
    z-index: 1;
    bottom: 0vw;
    display: none;
    height: 19vw;
}
.pre-book {
    bottom: 0vw;
    font-size: 16px;
    right: 35vw;
}
.book-card figure svg {
  /* width: 202.893px; */
  height: 72.893px;
  margin-left: 25vw;
}
.book-card-text {
  margin-left: 3vw;
}
.pm-text {
  font-size: 25px;
  margin-top: 1vw;
  margin-left: 34vw;
}
.price {
  font-size: 22px;
  margin-top: -3vw;
  margin-left: 33vw;
}
.books .butn {
  position: absolute;
  bottom: 6vw;
  left: 25vw;
}
.ifrme {
  position: absolute;
  left: 0vw;
  width: 100vw;
  bottom: -187vw;
}
.first-inner-card {
  width: 93%;
  position: absolute;
  height: 241px;
  border-radius: 0;
  background: #FFF;
  padding: 3vw 7vw;
  top: 3.8vw;
  left: 5vw;
}
.section-two {
  height: 92vw;
  background-color: #ffb801;
  position: absolute;
  width: 100vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 213vw;
}
  img.learner {
    width: 57vw;
    margin-top: 5vw;
    /* margin-right: -3vw; */
    height: 29vw;
  }
  .headphone {
    height: 54vw;
  }
  .bonus .butn {
    bottom: -6vw;
    right: 22vw;
  }
  .book-card {
    padding: 26px 6px 20px 0;
    border-radius: 0;
    column-gap: 0;
    height: 327px;
    margin-top: 61px;
}
.yellow-right {
    width: 86%;
  
}
.section-three {
  position: absolute;
  height: 444px;
  top: 555vw;
  z-index: -1;
  width: 100vw;
  /* background: none; */
}
.title {
  margin-top: 329vw;
  font-size: 5vw;
}
.show-box p {
  color: #000;
  text-align: center;
  font-family: Comic Neue;
  font-size: 16px;
  padding: 2vw 3vw;
  position: absolute;
  top: 11%;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
.third-inner-card p {
  color: #000;
  font-family: Comic Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.red-images {
    position: absolute;
    left: -1vw;
    /* height: 29vw; */
    bottom: -19vw;
}
.third-inner-card {
    width: 100vw !important;
    padding: 4vw 6vw;
    top: 30.8vw;
    height: 230px;
    border-radius: 0;
    right: 0;
}
.number3 {
    position: absolute;
    color: #000;
    font-family: Bangers;
    left: 79vw;
    top: 25vw;
    z-index: 1;
    font-size: 59px;
}
.section-three .butn {
    position: absolute;
    right: 28vw;
    bottom: -115vw;
}
.faq-title {
    position: absolute;
    color: #000;
    font-family: Bangers;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: -31vw;
    left: 31vw;
}
.faq {
    height: 500px;
    background: #C80000;
    box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
    margin-top: 193vw;
    position: relative;
    width: 100%;
}
.faq-list {
    width: 81%;
    position: absolute;
    left: 10vw;
    bottom: -86vw;
}
.result-faq {
    width: 100%;
    position: absolute;
    height: 382px;
    border-radius: 20px;
    background: #FFB801;
    box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
    /* right: 21vw; */
    bottom: -55vw;
}
.faq-right-ball {
    position: absolute;
    top: -6vw;
    right: -49px;
    z-index: 0;
    height: 18vw;
}
.about-author .about-bottom{
    display: none;
}
.floating{
  height: 8vw;
}
  .swiper-slide img {
    height: 279px;
    object-fit: cover !important;
  }
}
@media screen and (max-width: 340px) {
  .floating{
    height: 8vw;
  }

/* .book-card {
    padding: 26px 6px 20px 0;
    border-radius: 0;
    column-gap: 0vw;
    height: 327px;
    margin-top: 61px;
} */
.book-card {
  padding: 26px 6px 20px 0;
  border-radius: 0;
  display: inline-block !important;
  column-gap: 0vw;
  height: 394px;
  margin-top: 61px;
}
.book-card figure svg {
  width: 202.893px;
  margin-left: 20vw;
  height: 83.893px;
  flex-shrink: 0;
}
.first-inner-card p {
  color: #000;
  margin-top: 6vw;
  width: 93%;
  font-family: Comic Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.book-card-text {
  /* margin-left: 12vw; */
  width: 100%;
  padding: 0 3vw;
}
.pm-text {
  font-size: 27px;
  margin-top: 2vw;
  margin-left: 26vw;
}
.first-inner-card {
    width: 93%;
    position: absolute;
    height: 258px;
    border-radius: 0;
    background: #FFF;
    padding: 3vw 7vw;
    top: 3.8vw;
    left: 5vw;
}
.ifrme {
  position: absolute;
  left: 0vw;
  width: 100vw;
  bottom: -222vw;
}
.section-two {
  height: 92vw;
  background-color: #ffb801;
  position: absolute;
  width: 100vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 231vw;
}
.yellow-card p {
  width: 89vw;
  font-size: 16px;
  margin-top: 8vw;
  text-align: center;
}
.yellow-card h3 {
  width: 255px;
}
.yellow-card .number2 {
  left: 83vw;
  top: -2vw;
  font-size: 71px;
}
.price {
  font-size: 16px;
  font-size: 22px;
  margin-top: 0vw;
  margin-left: 20vw;
}
.section-three {
  position: absolute;
  height: 444px;
  top: 585vw;
  z-index: -1;
  width: 100vw;
  /* background: none; */
}
.books .butn {
  position: absolute;
  bottom: -9vw;
  left: 22vw;
}
.main-section {
  background-image: none;
  margin-top: 19vw;
}
.red-images {
  position: absolute;
  left: -3vw;
  /* height: 29vw; */
  bottom: -33vw;
}
.third-inner-card {
  width: 100vw !important;
  padding: 4vw 6vw;
  top: 45.8vw;
  height: 253px;
  border-radius: 0;
  right: 0;
}
.number3 {
  position: absolute;
  color: #000;
  font-family: Bangers;
  left: 79vw;
  top: 39vw;
  z-index: 1;
  font-size: 59px;
}
.section-three .butn {
  position: absolute;
  right: 28vw;
  bottom: -154vw;
}
.title {
  margin-top: 334vw;
  font-size: 5vw;
}
.faq {
  height: 536px;
  background: #C80000;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
  margin-top: 194vw;
  position: relative;
  width: 100%;
}
.faq-title {
  position: absolute;
  color: #000;
  font-family: Bangers;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: -34vw;
  left: 31vw;
}
.faq-list {
  width: 90%;
  position: absolute;
  left: 17px;
  bottom: -102vw;
}
.result-faq {
  width: 100%;
  position: absolute;
  height: 382px;
  border-radius: 20px;
  background: #FFB801;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
  /* right: 21vw; */
  bottom: -61vw;
}
.list-group-item.active .tab-label {
  color: #000;
  font-family: Bangers;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
  padding: 1vw 6vw;
  margin-top: 6vw;
}
.tab-label {
  padding: 1vw 6vw;
  margin-top: 5vw;
  font-size: 16px;
}
.empty {
  padding: 2vw;
  margin-top: 58vw;
}
.marchand {
  /* border-radius: 20px; */
  background: #FFB801;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
  width: 100%;
  height: 468px;
  position: relative;
  margin-top: 15vw;
}
}