@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@300&family=Mulish:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow: auto;
}
::selection {
  color: white;
  background: black;
}
::-webkit-scrollbar {
  height: 3px !important;
  width: 8px;
}
/* font-family: 'Mulish', sans-serif; */
::-webkit-scrollbar-track {
  background: #efeee9;
}

::-webkit-scrollbar-thumb {
  background: #080404;
}

body {
  overflow: hidden;
  font-family: "Comic Neue", cursive;
}

.font-outfit {
  font-family: "Comic Neue", cursive;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comic Neue";
}

/* navbar  */
/* color: #000;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px;  */
.header {
  top: -100px;
  transition: all 0.4s;
  background: rgba(239, 239, 239, 0.69);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.btn-close:focus,
button.navbar-toggler:focus {
  box-shadow: unset;
}

button.navbar-toggler {
  border: 1px solid var(--black);
  border-radius: 0;
}

.header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.navbar-brand img {
  width: 65px;
  height: 66px;
  flex-shrink: 0;
}
.navbar-brand {
  color: #151515;
  font-family: inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 350% */
  letter-spacing: -0.5px;
}
.header .nav-item {
  margin-right: 1rem;
}

.header .nav-link {
  color: #000;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
}

.header .nav-link:is(.active, :hover) {
  color: #c80000;
}

.header .last-button:hover {
  stroke: #c80000;
  color: #c80000;
  background-color: #4737ff;
}

.offcanvas-header {
  border-bottom: 1px solid black;
}

.header-inner {
  width: 120px;
}
.action-btn {
  position: relative;
  overflow: hidden;
  font-weight: 700;
  background: linear-gradient(
    89.96deg,
    rgba(255, 255, 255, 0.05) 0.03%,
    rgba(255, 255, 255, 0.008) 49.67%,
    rgba(255, 255, 255, 0.05) 99.96%
  );
  backdrop-filter: blur(4px);
  padding: 5px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.action-btn span {
  color: #fefdfb;
  font-family: Mulish;
  background-color: #4737ff;
  font-size: 16px;
  padding: 8px 27px;
  border-radius: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px; /* 175% */
}
.action-btn span::after {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.13) 0px,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0)
  );
  content: "";
  height: 200%;
  left: -210%;
  opacity: 0;
  position: absolute;
  top: -50%;
  transition: all 0.7s ease 0s;
  width: 200%;
}
.action-btn:hover span::after {
  left: -30%;
  opacity: 1;
  top: -20%;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-property: left, top, opacity;
  transition-timing-function: linear;
}
.action-btn2 {
  position: relative;
  overflow: hidden;
  font-weight: 700;
  /* background: linear-gradient( 89.96deg, rgba(255, 255, 255, 0.05) 0.03%, rgba(255, 255, 255, 0.008) 49.67%, rgba(255, 255, 255, 0.05) 99.96% ); */
  /* backdrop-filter: blur(4px); */
  padding: 5px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
}
.action-btn2 span {
  color: #000;
  font-family: Mulish;
  background-color: #ffb801;
  font-size: 16px;
  padding: 1vw 4vw;
  border-radius: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px; /* 175% */
}
.action-btn2 span::after {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.13) 0px,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0)
  );
  content: "";
  height: 200%;
  left: -210%;
  opacity: 0;
  position: absolute;
  top: -50%;
  transition: all 0.7s ease 0s;
  width: 200%;
}
.action-btn2:hover span::after {
  left: -30%;
  opacity: 1;
  top: -20%;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-property: left, top, opacity;
  transition-timing-function: linear;
}

/* hero section  */
.second-section {
  
    margin-top: 10vw;
}
.second-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 365px;
  left: 0;
  bottom: 0;
  background-color: #c80000;
  display: block;
}

.left {
  z-index: 1;
}
.left img {
  padding-left: 5vw;
}
.right {
  z-index: 1;
}

.right .right-heading {
  color: #fff;
  text-align: center;
  font-family: Comic Neue;
  font-size: 30px;
  left: 19vw;
  position: absolute;
  width: 30vw;
  bottom: 0;
  align-items: center;
  font-style: italic;
  font-weight: 700;
  line-height: 28px;
}
.right .right-para {
  color: #fff;
  align-items: center;
  text-align: center;
  font-family: Comic Neue;
  font-size: 24px;
  font-style: normal;
  top: 1vw;
  left: 19vw;
  position: absolute;
  width: 33vw;
  font-weight: 700;
  line-height: 28px;
}
.right img {
  position: absolute;
  bottom: 3.47vw;
  right: 5vw;
}
.right .butn {
  position: absolute;
    top: 14.6vw;
    left: 44%;
}
/* .pm{
  position: relative;
} */

/* .pm {
  background-image: url(../images/second-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 756px;
}
.side1 img {
  width: 390.181px;
  height: 550.944px;
  transform: rotate(15.846deg);
  flex-shrink: 0;
}
.side2 img {
  width: 351.894px;
  height: 500.408px;
  transform: rotate(-12.542deg);
  flex-shrink: 0;
}
.side1 {
  align-items: center;
  height: 756px;
  transform: rotate(-24deg);
  width: 390.181px;
}
.side2 {
  align-items: center;
  height: 756px;
  transform: rotate(24deg);
  width: 390.181px;
}
.pm2 {
  background: #fcca5f;
  display: flex;
  margin-top: 3vw;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.pm2 img {
  width: 504px;
  height: 143px;
} */
.pm{
  margin-top: 12vw;
  padding: 12vw 0;
  height: 59vw;
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url(../images/Full.png);
}
.full img:nth-child(1){
 position: absolute;
 top: 10vw;
 left: 10vw;
}
.full img:nth-child(2) {
  position: absolute;
  bottom: 4vw;
  left: 39vw;
}
.full img:nth-child(3) {
  position: absolute;
  bottom: 16vw;
  right: 16vw;
}
.full img:nth-child(4) {
  position: absolute;
  top: 12vw;
  right: 10vw;
}
.full img:nth-child(5) {
  position: absolute;
  bottom: 16vw;
  left: 17vw;
}
.full img:nth-child(6) {
  position: absolute;
  top: 14vw;
  left: 45vw;
}
.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}
.pm-divider{
  background-color:#FCCA5F;
  height: 80px;
}
.book-card {
  padding: 15px 24px 15px 0;
  /* border-radius: 10px; */
  align-items: center;
  column-gap: 16px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px 0px #c3c2c2;
  background-color: #fff;
  transition: 0.5s;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  height: 332px;
  margin-top: 60px;
}
.custom-book{
  position: relative;
}
.prebook {
  position: absolute;
  width: 530px !important;
  height: 548px;
  right: 7vw;
  bottom: 5vw;
}
.pre-book {
  position: absolute;
  bottom: 1vw;
  color: #000;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  text-decoration-line: underline;
  right: 20vw;
}
.book-card figure svg {
  /* width: 202.893px; */
  height: 202.893px;
  flex-shrink: 0;
}
.row-book{
  /* gap: -1vw; */
}
.custom-col-1{
  flex: 0 0 auto;
    width: 42% !important;
}
.custom-col-2{
  flex: 0 0 auto;
    width: 58% !important;
}
.books {
  margin-top: 20vw;
  height: 447px;
  width: 100%;
  position: relative;
  /* border-radius: 20px; */
  background: #c80000;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
}
.books .butn{
  position: absolute;
  bottom: -2vw;
  left: 8vw;
}
.third-ball {
  position: absolute;
  right: -2vw;
  top: -7vw;
}
.books-ball{
  position: absolute;
  right: -1vw;
  bottom: -2vw;
}
.book-title{
  position: absolute;
  color: #000;
font-family: Bangers;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 51px; /* 102% */
letter-spacing: 0.5px;
top: -5vw;
left:8vw;
}
.pm-text {
  color: #000;
  font-family: Bangers;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 77.778% */
  letter-spacing: 2px;
}
.price {
  color: #1d8500;
  font-family: Comic Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
}
.book-para {
  color: #000;
  font-family: Comic Neue;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 107.143% */
}


/* bonus  */
.title{
  /* position: absolute; */
  color: #1E1E1E;
  left: 50%;
  margin-top: 30vw;
font-family: Bangers;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.55px;
}
.bonus{
  position: relative;
  margin-top: 12vw;
  height: 652px;
  width: 100%;
  /* border-radius: 20px; */
  background: #C80000;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
}
/* .bonus::before{
  content: "";
  position: absolute;
  
} */
.bonus .left-top{
  position: absolute;
  left: 0;
  top: -7vw;
}
.bonus .right-bottom{
  position: absolute;
  right: 0;
  top: 33vw;
}
.bonus-inner{
  position: relative;
}
.group {
  position: absolute;
  top: -12vw;
  left: 15vw;
}
.middle-top{
  margin-top: 9vw;
}
/* .blank-img{
  width: 165px;
height: 138.776px;
} */
.blank-inner{
  color: #000;
text-align: center;
font-family: Comic Neue;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 14px; /* 100% */
width: 119px;
z-index: 1;
height: 77px;
flex-shrink: 0;
}
.blank-inner::after{
  content: "";
  background-image: url(../images/blank-msg.png);
  background-repeat: no-repeat;
   position: absolute;
   bottom: 0;
   background-size: cover;
   left: -15px;
   z-index: -1;
   top: -18px;
   right: 0;
  width: 165px;
height: 138.776px;
}
.course-image{
  width: 619px;
height: 92px;
flex-shrink: 0;
}
.bonus .butn{
  position: absolute;
  bottom: -2vw;
  right: 7vw;
  z-index: 1;
}
.marchand{
  /* border-radius: 20px; */
background: #FFB801;
box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
width: 100%;
height: 558px;
position: relative;
margin-top: 15vw;
}
.marchand-left{
  position: absolute;
  top: -7vw;
  left: 0;
}
.m-text{
  position: absolute;
  right: 6vw;
  top: -10vw;
  color: #1E1E1E;
  font-family: Bangers;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 75px */
letter-spacing: -0.55px;
}

.marquee {

  overflow: hidden;
  }
  
  .marquee-content {
    display: flex;
    animation: scrolling 10s linear infinite;
    margin-top: 5vw;
  }
  
  .marquee-item {
    flex: 0 0 16vw;
  /*   margin: 0 1vw; */
  /*   flex: 0 0 20vw; */
  /*   margin: 0 2vw; */
  }
  
  .marquee-item img {
    display: block;
    /* width: 100%; */
    width: 316px;
    height: 401px;
    object-fit: cover;
  }
  
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translatex(-144vw); }
  }
  .main-section{
    background-image: url(../images/boysbg.png);
    width: 387px;
   height: 1315px;
   margin-top: 12vw;
   position: relative;
  }
  .first {
    width: 141vw;
    position: absolute;
    margin-left: 26.8vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    top: 6vw;
    height: 347px;
    background: #C80000;
    box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
}
.ifrme {
  position: absolute;
  left: 39vw;
  width: 31vw;
  bottom: -27vw;
}
.first-inner-card {
  width: 468px;
  position: absolute;
  height: 234px;
  border-radius: 20px;
  background: #FFF;
  padding: 3vw 2vw;
  top: 3.8vw;
  left: 3vw;
}
.empty{
  padding: 2vw;
}
.first-inner-card p{
  color: #000;
  font-family: Comic Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.first-inner-card h3{
  color: #000;
font-family: Bangers;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.number1 {
  position: absolute;
  color: #000;
  font-family: Bangers;
  left: 4vw;
  top: 2vw;
  z-index: 1;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0.5px;
}
.section-two {
  height: 362px;
  background-color: #FFB801;
  position: absolute;
  width: 90vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 40vw;
}
.yellow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yellow-left{
  width: 620px;
  margin-top: 3vw;
height: 263px;
 border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
background: #FFF;
}
svg.yellow-left-ball {
  position: absolute;
  top: -2vw;
  height: 15vw;
}
.yellow-card {
  width: 393px;
  height: 220px;
  position: absolute;
  flex-shrink: 0;
  padding: 2vw 1vw;
  left: 13vw;
  /* top: 2vw; */
}
.yellow-card h3{
  color: #000;
  width: 393px;
  text-align: right;
  font-family: Bangers;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.yellow-card p{
  width: 393px;
  color: #000;
  font-family: Comic Neue;
  font-size: 18px;
  font-style: normal;
  margin-top: 2vw;

  text-align: right;
  font-weight: 700;
  line-height: normal;
}
.number2 {
  position: absolute;
  color: #000;
  font-family: Bangers;
  left: 27vw;
  top: -2vw;
  z-index: 1;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0.5px;
}
img.deliver {
  height: 19vw;
  margin: auto;
}
.third-inner-card {
  width: 468px;
  position: absolute;
  height: 234px;
  border-radius: 20px;
  background: #FFF;
  padding: 3vw 2vw;
  top: 3.8vw;
  right: 1vw;
}
.third-inner-card p{
  color: #000;
  font-family: Comic Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.third-inner-card h3{
  color: #000;
font-family: Bangers;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.number3 {
  position: absolute;
  color: #000;
  font-family: Bangers;
  right: 30vw;
  top: 2vw;
  z-index: 1;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0.5px;
}
.section-three {
  position: absolute;
  height: 321px;
  top: 73vw;
  z-index: -1;
  width: 100vw;
  background: #C80000;
}
.images-stacking{
  width: 622px;
  
height: 370px;
display: flex;
}
.images-stacking img:nth-child(1){
position: absolute;
left: 27vw;
}
.images-stacking img:nth-child(2){
position: absolute;
left: 21vw;
}
.images-stacking img:nth-child(3){
position: absolute;
left: 15vw;
}
.images-stacking img:nth-child(4){
position: absolute;
left: 9vw;
}
.images-stacking img:nth-child(5){
position: absolute;
left: 2vw;
}
.images-stacking img:nth-child(6){
position: absolute;
left: 27vw;
z-index: 1;
}

.red{
  position: relative;
}
.red-images {
  position: absolute;
  left: 16vw;
  /* height: 29vw; */
  bottom: -24vw;
}
.section-three .butn {
  position: absolute;
  right: 17vw;
  bottom: -26vw;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 471px;
height: 471px;
  object-fit: cover;
}
.swiper-pagination{
  display: none;
}
.swiper-button-next,.swiper-button-prev{
  display: none;
}
.about-author{
  position: relative;
  background-color: #C80000;
  height: 674px;
  margin-top:20vw;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
}
.about-author .about-top{
  position: absolute;
  top: -12vw;
  right: 0;
  z-index: -1;
}

.about-author .about-bottom{
  position: absolute;
  bottom: -7vw;
  left: 0;
}
.left-about{
width: 726px;
height: 518px;
margin-top: 6vw;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
background: #FFF;
}
.about-text{
  padding: 3vw 4vw;
}
.about-text p{
  color: #000;
font-family: Comic Neue;
font-size: 18px;
margin-top: 2vw;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
}
.about-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h3.author {
  position: absolute;
  top: -5vw;
  left: 4vw;
  color: #000;
text-align: center;
font-family: Bangers;
font-size: 46px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.faq{
  height: 352px;
  background: #C80000;
box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
margin-top: 20vw;
position: relative;
width: 100%;
}
.faq-title {
  position: absolute;
  color: #000;
  font-family: Bangers;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: -9vw;
  left: 13vw;
}
.faq-list{
  width: 766px;
}
.tabs > ul {
  /* width: 150px; */
  width: 766px;
  /* max-height: 480px;
  overflow-y: auto;
  overflow-x: hidden; */
  margin-bottom: 0;
  display: block;
}
.tabs > ul li {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #a0dcc1, #2f286f) 1;
  margin-bottom: 10px;
  border: 0 !important;
  margin-right: 1rem;
  list-style: none;
}
li::marker{
  display: none;
}
.tabs > ul li a {
  flex-wrap: wrap;
  cursor: pointer;
}
.tab-label {
  color: #000;
  font-family: Bangers;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  background-color: #ffb801;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
padding: 1vw;
margin-top: 1vw;

}

.list-group-item.active .tab-label {
  color: #000;
  font-family: Bangers;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
padding: 1vw;
margin-top: 1vw;
}
.faq-list {
  width: 766px;
  position: absolute;
  left: 13vw;
  bottom: -19vw;
}
.faq-left {
  position: relative;
}
.result-faq {
  width: 489px;
  position: absolute;
  height: 451px;
  border-radius: 20px;
  background: #FFB801;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
  right: 0vw;
  bottom: -19vw;
}
.show-box {
  width: 341px;
  position: relative;
  height: 319px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 4px 4px rgba(188, 188, 188, 0.25);
  margin: 4vw;
}
.show-box p{
  color: #000;
text-align: center;
font-family: Comic Neue;
font-size: 18px;
position: absolute;
top: 20%;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
}
.faq-right-ball {
  position: absolute;
  top: -5vw;
  right: 0;
  z-index: 0;
}